
<div class="relative">
    <img src="https://imgs.search.brave.com/dLzX42Bromjkm6v5EdwGAJiL4LZNiEo2KDWjizXwCUA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9zMy5h/bWF6b25hd3MuY29t/L2Nkbi1vcmlnaW4t/ZXRyLmFrYy5vcmcv/d3AtY29udGVudC91/cGxvYWRzLzIwMTgv/MTAvMDQxNTAxNTUv/MTcwMDgyMTYxX2Fr/Y2Jsb2doZWFkZXIu/anBn" alt="Your Image" class="w-full h-auto" />
    <div class="absolute inset-0 bg-yellow-500 opacity-90">
        <div class="absolute inset-0 flex items-center justify-center text-white">
            <div class="w-1/3 pl-24">
               <a href="#" class="flex justify-center pb-8 opacity-70"> <img src="https://cdn0.iconfinder.com/data/icons/sports-113/24/kit-doctor-sport-car-aid-athletics-medical-first-128.png" /></a>
                <h1 class="text-white text-2xl text-center">+245254</h1>
                <h1 class="text-white text-3xl text-center">Happy Clients</h1>
            </div>

            <div class="w-1/3">
               <a href="#" class="flex justify-center pb-8 opacity-70"> <img src="https://cdn3.iconfinder.com/data/icons/clinical-3/96/medical-checkup-128.png"/></a>
                <h1 class="text-white text-2xl text-center">+245254</h1>
                <h1  class="text-white text-3xl text-center">Department</h1>
            </div>

            <div class="w-1/3 pr-32">
               <a href="#" class="flex justify-center pb-8 opacity-70"><img src="https://cdn4.iconfinder.com/data/icons/coronavirus-30/48/40-128.png" /></a>
                <h1 class="text-white text-2xl text-center">+245254</h1>
                <h1  class="text-white text-3xl text-center">Vaccination</h1>
            </div>
          </div>
    </div>
  </div>
  