<footer class="bg-neutral-100 text-center dark:bg-black lg:text-left">
  
  <div class="container p-6">
    <div class="grid gap-x-4 md:grid-cols-2 lg:grid-cols-3">
      <!--First text section-->
      <div class="mb-6">
        <h5
          class="mb-2.5 font-bold uppercase text-neutral-800 dark:text-neutral-200"
        >
          About Us
        </h5>

        <ul class="mb-0 list-none">
          <li>
            <a href="#!" class="text-neutral-800 dark:text-neutral-200"
              >History</a
            >
          </li>
          <li>
            <a href="#!" class="text-neutral-800 dark:text-neutral-200"
              >Our Team</a
            >
          </li>
          <li>
            <a href="#!" class="text-neutral-800 dark:text-neutral-200"
              >Brand Guidlines</a
            >
          </li>
          <li>
            <a href="#!" class="text-neutral-800 dark:text-neutral-200"
              >Terms & Conditions</a
            >
          </li>
          <li>
            <a href="#!" class="text-neutral-800 dark:text-neutral-200"
              >Privacy Policy</a
            >
          </li>
        </ul>
      </div>

      <!--Second links section-->
      <div class="mb-6">
        <h5
          class="mb-2.5 font-bold uppercase text-neutral-800 dark:text-neutral-200"
        >
          Services
        </h5>

        <ul class="mb-0 list-none">
          <li>
            <a href="#!" class="text-neutral-800 dark:text-neutral-200"
              >How To Order</a
            >
          </li>
          <li>
            <a href="#!" class="text-neutral-800 dark:text-neutral-200"
              >Our Products</a
            >
          </li>
          <li>
            <a href="#!" class="text-neutral-800 dark:text-neutral-200"
              >Order Status</a
            >
          </li>
          <li>
            <a href="#!" class="text-neutral-800 dark:text-neutral-200"
              >Promo</a
            >
          </li>
          <li>
            <a href="#!" class="text-neutral-800 dark:text-neutral-200"
              >Payment Method</a
            >
          </li>
        </ul>
      </div>

      <!--Third links section-->
      <div class="mb-6 text-left">
        <h1
          class="mb-2.5 font-bold text-left uppercase text-neutral-800 dark:text-neutral-200"
        >
          Title Here
        </h1>
        <span class="text-white">Lorum Ipsum available, but the majorit</span>
        <br />
        <br />

        <div class="flex">
          <input class="bg-yellow-500 px-4 py-2 h-12 focus:outline-none" />
          <button class="h-12 w-15">
            <img
              src="https://cdn.pixabay.com/photo/2021/12/27/10/50/telegram-6896827_1280.png"
              alt="telegram"
              class="w-19 h-full"
            />
          </button>
        </div>
        <br>

        <div>
          <div class="container mx-auto flex justify-center items-center">
            
            <a href="#" class="mr-4 w-7 h-7 rounded-full bg-white flex items-center justify-center shadow-lg">
              <img src="https://cdn4.iconfinder.com/data/icons/social-media-black-white-2/600/Instagram_glyph_svg-128.png" alt="Instagram" class="w-4 h-4 bg-white ">
            </a>
            
            <a href="#" class="mr-4 w-7 h-7 bg-white rounded-full flex items-center justify-center shadow-lg">
              <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-facebook-128.png" alt="Facebook" class="w-5 h-5">
            </a>
            
            <a href="#" class="mr-4 w-7 h-7 bg-white rounded-full flex items-center justify-center shadow-lg">
              <img src="https://cdn.jsdelivr.net/npm/simple-icons/icons/twitter.svg" alt="Twitter" class="w-4 h-4">
            </a>
            
            <a href="#" class="w-7 h-7 mr-4 bg-white rounded-full flex items-center justify-center shadow-lg">
              <img src="https://cdn.jsdelivr.net/npm/simple-icons/icons/whatsapp.svg" alt="WhatsApp" class="w-4 h-4">
            </a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</footer>
