<div class="bg-white text-center pt-20 pb-24">
    <div>
        <h1 class=" text-5xl mt-6 font-bold">Recent Posts</h1>
        <p class=" text-2xl pt-5">Lorem Ipsum available , but the majority have </p>
          <p class=" text-2xl text-center">  suffered alteration some form.</p>
        </div>
    
        <div class="flex justify-center pt-14">
            
            <div class="max-w-xs mx-2 border-2 border-gray-200  overflow-hidden shadow-lg">
              <img src="https://media.istockphoto.com/id/693798170/photo/cute-patient.jpg?s=1024x1024&w=is&k=20&c=9be5y6z-xqrFTgNA09cceZBQcQ6lFv5ba3S8uF5mTbg=" alt="Image 1" class="w-full h-auto  ">
              <h1 class="  text-2xl text-left pl-4 pt-4">As a veterinarian and lover of animals</h1>
              <h1 class="font-bold text-left pl-4"></h1>
              <p class="date text-blue-300 pl-4 pt-3">FEBRAUARY 09,2020</p>
              <p class="pt-4 text-left pl-4">Lorem Ipsum available, but the majority have suffered alteration in some.</p>
           <a href="#" class="date flex justify-start pl-4 pt-3 pb-4">Read more+</a>
            </div>
           
            <div class="max-w-xs mx-2 shadow-lg ">
              <img src="https://media.istockphoto.com/id/1044460686/photo/doctor-using-stethoscope-on-a-puppy.jpg?s=1024x1024&w=is&k=20&c=MW5esKmtnyUj5qY1LeSqSzkBLRvHAdpO-xjre75xB5A=" alt="Image 2" class="w-full h-auto  border-white border-2 overflow-hidden">
              <h1 class="  text-2xl text-left pl-4 pt-4">As a veterinarian and lover of animals</h1>
              <h1 class="font-bold text-left pl-4"></h1>
              <p class="date text-blue-300 pl-4 pt-3">FEBRAUARY 10,2020</p>
              <p class="pt-4 text-left pl-4">Lorem Ipsum available, but the majority have suffered alteration in some.</p>
           <a href="#" class="date flex justify-start pl-4 pt-3 pb-4">Read more+</a>
            </div>

            <div class="max-w-xs mx-2 border-2 border-gray-200 shadow-lg">
              <img src="https://media.istockphoto.com/id/697939574/photo/fluffy-patient.jpg?s=1024x1024&w=is&k=20&c=xzAVSRiXA9XU8VDmQ9awRNrcQf2JXvA1Cz9dJyR3lRs="  alt="Image 2" class="w-full h-auto  border-white border-2 overflow-hidden">
              <h1 class="  text-2xl text-left pl-4 pt-4">As a veterinarian and lover of animals</h1>
              <h1 class="font-bold text-left pl-4"></h1>
              <p class="date text-blue-300 pl-4 pt-3">FEBRAUARY 11,2020</p>
              <p class="pt-4 text-left pl-4">Lorem Ipsum available, but the majority have suffered alteration in some.</p>
           <a href="#" class="date flex justify-start pl-4 pt-3 pb-4">Read more+</a>
            </div>

            
            
              
          </div>
          
    </div>