<div class="container mx-auto flex justify-between items-center relative pt-14">
    <!-- Text and Orange Square on the Left -->
    <div class="w-1/2 ">
      <div class=" ml-16">
        <h1 class="text-5xl font-bold mb-4">As a Veterinarian and</h1>
        <h1 class="text-5xl font-bold mb-4">lover of animals.</h1>
        <p class="text-gray-600">Lorem Ipsum available but the majority  </p>
        <p class="text-gray-600">suffered alteration in some form, by</p>
        <p class="text-gray-600">injected humour randomised words.</p>

        <button class="our-service px-7 py-3  my-7 text-center text-white " >Our Service</button>

      </div>

      
    </div>
  
    <div class="w-1/2 " id="parent">
      <div class="layer absolute inset-0 bg-yellow-500 opacity-50"></div>
      <div class="box"></div>
      <img src="https://imgs.search.brave.com/tDXlxh-XxnAGjjYeo7vRpKULOoYJwBEEue_gQz7QoW0/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9kb2dh/bmRjYXQuY29tL3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDIzLzA2/L0J5LWxpc3Rlbmlu/Zy10by1hLWRvZy1W/ZXRlcmluYXJ5LUdv/bGRlbi1vcHRpbWl6/ZWQud2VicA" alt="dog" />
      <!-- <a href="#" class="h-10 w-10"><img src="https://www.svgrepo.com/show/138082/play-button.svg" alt="resume icon" class="resume-button absolute top-0 left-0 mt-4 ml-4 px-4 py-2 h-100 w-10 text-white "/></a> -->
    </div>
  </div>
  