<div class="bg-white text-center pt-16 pb-16">
    <div>
        <h1 class=" text-5xl font-bold">The vetcare team</h1>
        <p class="pt-4 text-2xl">Lorem Ipsum available , but the majority have </p>
          <p class=" text-center text-2xl">  suffered alteration in some form.</p>
    </div>
    
        <div class="flex justify-center pt-16">
            
            <div class="max-w-xs mx-2">
              <img src="https://images.unsplash.com/photo-1612349317150-e413f6a5b16d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 1" class="w-64 h-60  border-2 border-white  overflow-hidden">
              <h1 class=" font-bold">Tim David</h1>
              <h2>VETERINARY</h2>
              

              <div>
                <div class="container mx-auto flex justify-center items-center">
                  
                  <a href="#" class="mr-4 w-7 h-7 rounded-full bg-yellow-400 flex items-center justify-center shadow-lg">
                    <img src="https://cdn4.iconfinder.com/data/icons/social-media-black-white-2/600/Instagram_glyph_svg-128.png" alt="Instagram" class="w-4 h-4 bg-yellow-400 ">
                  </a>
                  
                  <a href="#" class="mr-4 w-7 h-7 bg-yellow-400 rounded-full flex items-center justify-center shadow-lg">
                    <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-facebook-128.png" alt="Facebook" class="w-5 h-5 bg-yellow-400">
                  </a>
                  
                  <a href="#" class="mr-4 w-7 h-7 bg-yellow-400 rounded-full flex items-center justify-center shadow-lg">
                    <img src="https://cdn.jsdelivr.net/npm/simple-icons/icons/twitter.svg" alt="Twitter" class="w-4 h-4 bg-yellow-400">
                  </a>
                  
                  <a href="#" class="w-7 h-7 mr-4 bg-yellow-400 rounded-full flex items-center justify-center shadow-lg">
                    <img src="https://cdn.jsdelivr.net/npm/simple-icons/icons/whatsapp.svg" alt="WhatsApp" class="w-4 h-4 bg-yellow-400">
                  </a>
                </div>
                
              </div>
            </div>
           
            <div class="max-w-xs mx-6 ">
              <img src="https://imgs.search.brave.com/WooNiPEFicNOv9qSI7wpUa-XDfwN8_ldHpTPR1Nwnis/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9p/LXRyeWluZy1iZS1i/ZXN0LWRvY3Rvcl8z/MjkxODEtMjE4OC5q/cGc_c2l6ZT02MjYm/ZXh0PWpwZw" alt="Image 2" class="w-64 h-60   border-white border-2 overflow-hidden">
                <h1 class=" font-bold">Jennifer Mullen</h1>
                <h2>ADMINISTRATION</h2>
                <div>
                    <div class="container mx-auto flex justify-center items-center">
                      
                      <a href="#" class="mr-4 w-7 h-7 rounded-full bg-yellow-400 flex items-center justify-center shadow-lg">
                        <img src="https://cdn4.iconfinder.com/data/icons/social-media-black-white-2/600/Instagram_glyph_svg-128.png" alt="Instagram" class="w-4 h-4 bg-yellow-400 ">
                      </a>
                      
                      <a href="#" class="mr-4 w-7 h-7 bg-yellow-400 rounded-full flex items-center justify-center shadow-lg">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-facebook-128.png" alt="Facebook" class="w-5 h-5 bg-yellow-400">
                      </a>
                      
                      <a href="#" class="mr-4 w-7 h-7 bg-yellow-400 rounded-full flex items-center justify-center shadow-lg">
                        <img src="https://cdn.jsdelivr.net/npm/simple-icons/icons/twitter.svg" alt="Twitter" class="w-4 h-4 bg-yellow-400">
                      </a>
                      
                      <a href="#" class="w-7 h-7 mr-4 bg-yellow-400 rounded-full flex items-center justify-center shadow-lg">
                        <img src="https://cdn.jsdelivr.net/npm/simple-icons/icons/whatsapp.svg" alt="WhatsApp" class="w-4 h-4 bg-yellow-400">
                      </a>
                    </div>
                    
                  </div>
            </div>
          
            <div class="max-w-xs mx-2 ">
              <img src="https://images.pexels.com/photos/5327580/pexels-photo-5327580.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image 3" class="w-64 h-60  border-white border-2 overflow-hidden">
                <h1 class=" font-bold">Sheeran Collins</h1>
                <h2>VETERINARY</h2>
                <div>
                    <div class="container mx-auto flex justify-center items-center">
                      
                      <a href="#" class="mr-4 w-7 h-7 rounded-full bg-yellow-400 flex items-center justify-center shadow-lg">
                        <img src="https://cdn4.iconfinder.com/data/icons/social-media-black-white-2/600/Instagram_glyph_svg-128.png" alt="Instagram" class="w-4 h-4 bg-yellow-400 ">
                      </a>
                      
                      <a href="#" class="mr-4 w-7 h-7 bg-yellow-400 rounded-full flex items-center justify-center shadow-lg">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-facebook-128.png" alt="Facebook" class="w-5 h-5 bg-yellow-400">
                      </a>
                      
                      <a href="#" class="mr-4 w-7 h-7 bg-yellow-400 rounded-full flex items-center justify-center shadow-lg">
                        <img src="https://cdn.jsdelivr.net/npm/simple-icons/icons/twitter.svg" alt="Twitter" class="w-4 h-4 bg-yellow-400">
                      </a>
                      
                      <a href="#" class="w-7 h-7 mr-4 bg-yellow-400 rounded-full flex items-center justify-center shadow-lg">
                        <img src="https://cdn.jsdelivr.net/npm/simple-icons/icons/whatsapp.svg" alt="WhatsApp" class="w-4 h-4 bg-yellow-400">
                      </a>
                    </div>
                    
                  </div>
            </div>
          </div>
          
    </div>