<div class="main text-center pt-20 pb-9">
<div>
    <h1 class="text-white text-5xl font-bold ">Title Here</h1>
    <p class="text-white text-2xl pt-6 " >Lorem Ipsum available , but the majority have </p>
      <p class="text-white text-2xl text-center pb-14">  suffered alteration some form.</p>
    </div>

    <div class="flex justify-center mb-8">
        
        <div class="max-w-xs mx-2">
          <img src="https://media.istockphoto.com/id/693798170/photo/cute-patient.jpg?s=1024x1024&w=is&k=20&c=9be5y6z-xqrFTgNA09cceZBQcQ6lFv5ba3S8uF5mTbg=" alt="Image 1" class="w-full h-auto  border-2 border-white  overflow-hidden">
          <h1 class="text-white font-bold text-2xl mt-8">Veterinarian</h1>
          <p class="text-white ">Lorem Ipsum available, but the majority </p>
          <p class="text-white">have suffered alteration in some.</p>
          
        </div>
       
        <div class="max-w-xs mx-2 ">
          <img src="https://media.istockphoto.com/id/1044460686/photo/doctor-using-stethoscope-on-a-puppy.jpg?s=1024x1024&w=is&k=20&c=MW5esKmtnyUj5qY1LeSqSzkBLRvHAdpO-xjre75xB5A=" alt="Image 2" class="w-full h-auto  border-white border-2 overflow-hidden">
          <h1 class="text-white font-bold text-2xl mt-8">Vaccination Care</h1>
          <p class="text-white ">Lorem Ipsum available, but the majority </p>
          <p class="text-white">have suffered alteration in some.</p>
         </div>
      
        <div class="max-w-xs mx-2  ">
          <img src="https://media.istockphoto.com/id/697939574/photo/fluffy-patient.jpg?s=1024x1024&w=is&k=20&c=xzAVSRiXA9XU8VDmQ9awRNrcQf2JXvA1Cz9dJyR3lRs=" alt="Image 3" class="w-full h-auto border-white border-2 overflow-hidden">
          <h1 class="text-white font-bold text-2xl mt-8">Dental Care</h1>
          <p class="text-white ">Lorem Ipsum available, but the majority </p>
          <p class="text-white">have suffered alteration in some.</p></div>
      </div>
      
</div>